streamlit==1.53.0
spacy==3.7.0
spacy_streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#egg=en_core_web_sm==3.7.0
benepar
stanza
pandas
altair<5